
body{
    margin-top: 0;
    background-color: #f2f2fb;
}

header{
    background-color: #e6e6e6;
    height: 10vh;
    display: flex;
    gap: 1%;
    justify-content: right;
    align-items: center;
}
header button {
    
    height: fit-content;
    background-color: black;
    color: white;
}

.hero{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroStats{
    display: flex;
    gap: 10vw;
}
.statDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}
.statDiv h1 {
    margin: 0;
}

.statDiv p {
    font-size: 1.5rem;
}

.tilesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.postTile{
    width: 25%;
}
